
/** Shiva Sarvaka Styles **/
.basebg { background-color: #486b01; } 
.basecolor { color: #486b01; }   
ul.ss-full-tabs>li.active>a:after {
  border-color: #486b01;
  border-top-color: #486b01;
} 
i.thumbtype { background-color: rgba(72,107,1, 0.8); }
.breadwrap ol li .icon{ background:#486b01;}
.ss-full-tabs.nav-tabs>li.active,
.ss-full-tabs.nav-tabs>li.active:hover{ background:#486b01;}
.shanticon-twitter,.shanticon-facebook,.shanticon-email,.shanticon-google{ color:#486b01;}

/** Custom Colors (styles taken from MB and color values changed for Shiva) **/
.titlearea,
.carousel-control,
.breadcrumb .icon,
.nav-justified>li.active a,
.nav-justified>li.active a:hover,
.nav-justified>li.active a:active{ background-color:#486b01 !important;}
.nav-justified>li.active::before{ color:#486b01 !important;}
/* darker shades below are used to better define details */
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .check-mark,
.main-content .selectpicker .caret::before,
.view-section .nav-tabs>li.active>a, 
.view-section .nav-tabs>li.active>a:hover, 
.view-section .nav-tabs>li.active>a:active,
.view-section .fancytree-container .glyphicon,
.view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.view-section .fancytree-container .fancytree-node:active > .glyphicon,
.view-section .fancytree-node.fancytree-active > .glyphicon,
.view-section .fancytree-node.fancytree-selected > .glyphicon{ color:rgb(72,107,1) !important; }
.view-section .nav-tabs>li.active>a, 
.view-section .nav-tabs>li.active>a:hover, 
.view-section .nav-tabs>li.active>a:active{ border-top-color: rgb(72,107,1) !important;}
.shanti-thumbnail-image.shanti-field-visuals .icon{ background: rgba(72,107,1,0.8); }
/** End of Custom Colors **/
	
/** Thumbnails **/
.shanti-field-agent span::before{font-family:'shanticon';content:'\e600';font-size:120%;font-weight:normal;position:relative;left:0.1rem;top:0.1rem;margin-right:0.3rem;}
.shanti-thumbnail-field .shanti-field-content a { display: inline; }

/** Explore Thumbs **/
.page-explore li.shanti-thumbnail {
  margin: 6px 8px 25px;
  height: 230px;
  font-size: 1.75rem;
}

.page-explore li.shanti-thumbnail .title {
	font-weight: bold;
}

.page-explore li.shanti-thumbnail .links {
	padding: 6px;
}

.page-explore li.shanti-thumbnail .links li {
  list-style-type: none;
}

/** Facet Blocks **/
div.block-facetapi:after {
	border-top: thin solid #a0a0a0;
	width: 60%;
	display: block;
	content: " ";
	margin-left: 10%;
}
div.block-facetapi h4 { font-size: 1.5rem; margin-top: 12px;}
ul.facetapi-facetapi-links { margin: 6px 0px 6px; padding-left: 2px;}
ul.facetapi-facetapi-links li.leaf {
	list-style-type: none;
	list-style-image: none;
	padding: 0px;
	font-size: 1.3rem;
}
div.block-facetapi a.facetapi-limit-link {
	font-size: 1.2rem;
	text-align: right;
	width: 70%;
	display: block;
	color: #9399c7;
	margin: -6px 0px 3px;
}
div.block-facetapi a.facetapi-limit-link:hover { color: #454fa4; }

.btn.btn-icon.shivanode-btn span:last-child { line-height: 1.5em; }
.btn.btn-icon.shivanode-btn a.sharelink {color: white;}

ul.shivanode-info li {
	list-style-type: none;
	margin-bottom: 6px;
}
ul.shivanode-info li .icon {display: inline-block; padding-right: 12px;}
ul.shivanode-info li div { display: inline-block; }

/* Share window tabs*/
.content-resources{padding-left:0;padding-right:0;padding-top:0;margin-left:-1.5rem;margin-right: 2.5rem;max-width:16em;background:#fff;min-height:700px;height:100%;background-image:-webkit-linear-gradient(left,#ccc 0,#ccc 9px,#fff 10px);background-image:-moz-linear-gradient(left,#ccc 0,#ccc 9px,#fff 10px);background-image:-ms-linear-gradient(left,#ccc 0,#ccc 9px,#fff 10px);background-image:-o-linear-gradient(left,#ccc 0,#ccc 9px,#fff 10px);background-image:linear-gradient(left,#ccc 0,#ccc 9px,#fff 10px);}
.content-resources .nav-pills{font-weight:bold;text-transform:uppercase;margin:0;}
.content-resources .nav-pills li{margin:0;padding:0 0 0 1px;font-size:1em;line-height:1em;height:2.75em;position: relative;white-space:nowrap;border-left:10px solid transparent;}
.content-resources .nav-pills li.active{ /* see custom theme colors */}
.content-resources .nav-pills li a{display:block;padding:1px 0 0 15px;background:#fff;font-size:.75em;line-height:3.68em;height:3.63em;border:none;border-radius:0;border-bottom:1px solid #e0e0e0;-webkit-transition:background 200ms ease 0;-moz-transition:background 200ms ease 0;-o-transition:background 200ms ease 0;transition:background 200ms ease 0;font-family:'museo-sans-700',helvetica,arial,sans-serif;font-weight:bold;}
.content-resources .nav-pills li:first-child a{ border-top:1px solid #e0e0e0;}
.content-resources .nav-pills li a,
.content-resources .nav-pills li a:hover,
.content-resources .nav-pills li a:focus{color:#777;}
.content-resources .nav-pills li a:hover,
.content-resources .nav-pills li a:focus{color:#333;background:#eee;}
.content-resources .nav-pills li.active a{color:#333;background:#eee;border-top-color:transparent;border-right-color:transparent;}
.content-resources .nav-pills li a .icon{font-family:'shanticon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-right:.5em;font-size:1.68em;position:relative;top:4px;}
.content-resources .nav-pills li a .icon:before{position:relative;top:0;}
.content-resources .nav-pills li > a > .badge{margin-left:7px;position:relative;top:-1px;font-size:.82em;font-family:sans-serif;line-height:1em;height:1.63em;text-shadow:0 1px 1px #444;display:inline-block;color:#fff;background:#777;}
.content-resources .nav-pills li.active > a > .badge{background:#505050;}
.content-resources .nav-pills li > a > .badge:empty{display:none;}
.content-resources .nav-pills li > a:hover .badge{background:#505050;}
.content-resources .nav-pills li .ajax-progress { font-size:1.5rem;position: absolute;right:0.1em;top:0.62em;}
#sharetabs > h2 {
	width: 100%;
	text-align: center;
	margin: 0px 0px 24px;
	text-decoration: underline;
}
/* For the popup share block */
.page-node-share .block-system-main {
	margin: 0px;
	padding: 0px;
}

body.page-node-share.lightbox-processed {
	margin:0px !important;
}

#sharetabs .tab-pane {
	padding-right: 2rem;
}

#sharetabs .tab-pane h3 {
	color: #5a65d1;
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 0.75px;
}

#sharetabs .tab-pane p {
	margin-top: 8px;
}

#sharetabs .tab-pane .stButton span {
	min-height: 22px !important;
}
